<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Bienvenue !{% endblock %}</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<body class="d-flex h-100 text-center">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="mb-auto">
				<div>
					<h3 class="float-md-start mb-0">GestionExams</h3>
					<nav class="nav nav-masthead justify-content-center float-md-end">
						<a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="https://github.com/ClemLy">Github</a>
						<a class="nav-link fw-bold py-1 px-0" href="https://www.linkedin.com/in/cl%C3%A9mentin-ly/">Linkedin</a>
					</nav>
				</div>
			</header>

		{% block body %}{% endblock %}
		</div>
	</body>
</html>
